<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpiralArt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpiralArt.Properties.Settings>
            <setting name="RingSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WheelSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PenPos" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LineWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="WheelInside" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideDisks" serializeAs="String">
                <value>False</value>
            </setting>
        </SpiralArt.Properties.Settings>
    </userSettings>
</configuration>